.carousel-img:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-size: cover;
    padding: 20px;
    background: linear-gradient(to right, #151515 0%, rgba(21, 21, 21, 0) 100%);
}
